/* Figure out Animation later. */

/* #container {
  /* height: 0px; */
 /* overflow: hidden;
  transition: height .5s; */
  /* color: red; */
/*}; */

#container {
  overflow: hidden;
  transition: max-height .1s;
}


.isOpen {
  overflow: hidden;
  max-height: 100%;
  margin: 0px;
}


.isClosed {
  overflow: hidden;
  max-height: 0;
};


#arrow {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
};

.turnedArrow  {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  background-color: blue;
};

